@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

p, div, div#root {
    all: unset;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D3D3D3;
}

.chatbox-container {
    position: absolute;
    height: auto;
    width: 100vw;
    padding: 4.375vw 0px 4.167vw 0px;
    display: flex;
    flex-direction: column;
}

.other-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50vw 0 1.25vw;
    gap: 0.417vw;
}

.other-message img {
    width: 2.1875vw;
    height: 2.1875vw;
    border: none;
    border-radius: 50%;
}

.other-text {
    padding: 0.417vw 0.833vw;
    height: auto;
    width: auto;
    background-color: #FFFFFF;
    border-radius: 1.667vw;
}

.other-text p {
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 200;
}

.my-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1.042vw 0 50vw;
}

.my-text {
    padding: 0.417vw 0.833vw;
    height: 100%;
    width: auto;
    background-color: #303030;
    border-radius: 1.667vw;
}

.my-text p {
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
}