@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

p, div, div#root {
    all: unset;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D3D3D3;
}

.chatbox-container {
    position: absolute;
    height: auto;
    width: 1920px;
    padding: 84px 0px 80px 0px;
    display: flex;
    flex-direction: column;
}

.other-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 960px 0 24px;
    gap: 8px;
}

.other-message img {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
}

.other-text {
    padding: 8px 16px;
    height: 100%;
    width: auto;
    background-color: #FFFFFF;
    border-radius: 32px;
}

.other-text p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 200;
}

.my-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 960px;
}

.my-text {
    padding: 8px 16px;
    height: 100%;
    width: auto;
    background-color: #303030;
    border-radius: 32px;
}

.my-text p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
}