@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

p, div, div#root {
    all: unset;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D3D3D3;
}

.sp-container {
    width: 21.98vw;
    padding-top: 8.75vw;
    padding-left: 39.01vw;
    padding-right: 39.01vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sp-head {
    text-align: center;
    height: 1.927vw;
    width: 100%;
    margin-bottom: 3.594vw;
}

.sp-head p {
    font-family: 'Inter';
    font-weight: 600;
    color: #1E1E1E;
    font-size: 2rem;
}

.sp-form {
    display: flex;
    flex-direction: column;
    gap: 0.469vw;
    margin-bottom: 2.135vw;
}

.sp-form p {
    color: #1E1E1E;
    font-family: 'Inter';
    font-size: 1.25rem;
    font-weight: 600;
}

.sp-form input {
    width: 21.98vw;
    height: 2.396vw;
    padding: 0.573vw 0.573vw;
    border-radius: 0.417vw;
    border: none;
    box-shadow: none;
    outline: none;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 300;
}

form {
    margin-bottom: 2.135vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sp-reg-btn button{
    height: 2.083vw;
    width: 4.531vw;
    border: none;
    border-radius: 0.417vw;
    color: #F5F5F5;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 100;
    background-color: #2c2c2c;
    padding: 0.625vw 0.625vw;
}

.sp-login-btn button {
    height: 2.083vw;
    width: 5.677vw;
    border: none;
    border-radius: 0.417vw;
    color: #F5F5F5;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 100;
    background-color: #5A5A5A;
    padding: 0.625vw 0.625vw;
}