@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


p, div, div#root {
    all: unset;
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100vw;
    height: 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FEF7FF;
    padding: 0.625vw 1.042vw 0.625vw 0.0417vw;
    position: fixed;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    gap: 0.729vw;
}

.profile img {
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.052vw #2c2c2c;
    height: 2.1875vw;
    width: 2.1875vw;
}

.profile p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.375rem;
    color: #1D1B20;
}

.back-btn svg {
    width: 1.667vw;
    height: 1.667vw;
}

.back-btn {
    margin-right: 1.042vw;
}

.tb-container {
    bottom: 0;
    width: 100%;
    height: 4.1647vw;
    position: fixed;
}

.tb-form {
    padding: 0.625vw 0.46875vw 0.625vw 1.25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.917vw;
}

.tb-form input {
    height: 3.021vw;
    width: 94.427vw;
    box-shadow: none;
    outline: none;
    border-radius: 1.458vw;
    border: none;
    padding: 0.417vw 0.9375vw;
    background-color: #ece6f0;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 400;
}

.tb-btn {
    width: 3.021vw;
    height: 3.021vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
    border-radius: 1.667vw;
}

.tb-btn svg {
    width: 1.042vw;
    height: 1.042vw;
}